{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ concert.name }}</h1>
    <h2>Groupes : </h2>
    <div>
        {% for group in concert.groups %}
            <div>{{ group.name }}</div>
        {% endfor %}
    </div>
{% endblock content %}