{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ concert.name }}</h1>
    <h2>Groupes : </h2>
    <div>
        {% for group in concert.groups %}
            <div><img src="{{ asset( group.image.webPath) }}" height="100" /><span>{{ group.name }}</span></div>
        {% endfor %}
    </div>
{% endblock content %}