{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ group.name }}</h1>
    <div id="group-information-container">
        <div id="group-avatar-container">
            <img id="group-avatar" src="{{ asset(group.image.webPath) }}" />
        </div>
    </div>
{% endblock content %}