$infoBackgroundColor: #B3DBFF
$successBackgroundColor: #9AF5AC
$errorBackgroundColor: #FFBEBA
$warnBackgroundColor: #FAD9A0

$headerBgColor: #E6E6E6

$linkColor: #272D40

$textColor: #333333
$base-line-height: 6px