@import "variables";
@import "compass/css3";


@mixin notif-box($color) {
    background-color: $color;
    border: 1px solid darken($color, 50%);
    color: darken($color, 50%);
}

div.notification{
    height:20px;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 3px;
    opacity: 1;
    @include transition-property(all);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in);
    @include single-text-shadow;
    &.info{
          @include notif-box($infoBackgroundColor);
    }
    &.success{
        @include notif-box($successBackgroundColor);
    }
    
    &.error{
        @include notif-box($errorBackgroundColor);
    }
    &.warn{
        @include notif-box($warnBackgroundColor);
    }
    
    &:hover{
       @include scale(0.99);
    }
}