@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);
/* line 17, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 0.375em;
}

/* line 4, assetic_compassP86gbQ.sass */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, assetic_compassP86gbQ.sass */
html {
  line-height: 1.5em;
}

/* line 15, assetic_compassP86gbQ.sass */
html, body {
  height: 100%;
}

/* line 18, assetic_compassP86gbQ.sass */
.body {
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  font-family: "Vollkorn", "Helvetica Neue", "Helvetica", sans-serif;
  color: #333333;
}
/* line 38, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.body:after {
  content: "";
  display: table;
  clear: both;
}

/* line 23, assetic_compassP86gbQ.sass */
a {
  font-family: "Vollkorn", "Helvetica Neue", "Helvetica", sans-serif !important;
  text-decoration: none;
  color: #272d40;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  font-size: 1.2em !important;
}
/* line 29, assetic_compassP86gbQ.sass */
a:hover {
  color: #4e5a7f;
}

/* line 33, assetic_compassP86gbQ.sass */
#site-wrapper {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  height: 100%;
}
/* line 36, assetic_compassP86gbQ.sass */
#site-wrapper.menu-open {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}
/* line 38, assetic_compassP86gbQ.sass */
#site-wrapper.menu-open nav#navigation-menu {
  opacity: 1;
}

/* line 41, assetic_compassP86gbQ.sass */
div.notification {
  height: 20px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  margin: 3px;
  opacity: 1;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  text-shadow: 0px 0px 1px #aaaaaa;
}
/* line 52, assetic_compassP86gbQ.sass */
div.notification.info {
  background-color: #b3dbff;
  border: 1px solid #005eb3;
  color: #005eb3;
}
/* line 55, assetic_compassP86gbQ.sass */
div.notification.success {
  background-color: #9af5ac;
  border: 1px solid #0d8324;
  color: #0d8324;
}
/* line 59, assetic_compassP86gbQ.sass */
div.notification.error {
  background-color: #ffbeba;
  border: 1px solid #ba0b00;
  color: #ba0b00;
}
/* line 62, assetic_compassP86gbQ.sass */
div.notification.warn {
  background-color: #fad9a0;
  border: 1px solid #936008;
  color: #936008;
}
/* line 66, assetic_compassP86gbQ.sass */
div.notification:hover {
  -webkit-transform: scale(0.99, 0.99);
  -moz-transform: scale(0.99, 0.99);
  -ms-transform: scale(0.99, 0.99);
  -o-transform: scale(0.99, 0.99);
  transform: scale(0.99, 0.99);
}

/* line 69, assetic_compassP86gbQ.sass */
div#top-bar {
  background-color: #e6e6e6;
}
@media (min-width: 55em) {
  /* line 69, assetic_compassP86gbQ.sass */
  div#top-bar {
    width: 100%;
    height: 54px;
  }
}
/* line 74, assetic_compassP86gbQ.sass */
div#top-bar span#menu-trigger {
  float: left;
  line-height: 54px;
  color: #272d40;
}
/* line 78, assetic_compassP86gbQ.sass */
div#top-bar span#menu-trigger i#menu-trigger-icon {
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  font-size: 2em;
  vertical-align: middle;
  cursor: pointer;
}
/* line 83, assetic_compassP86gbQ.sass */
div#top-bar span#menu-trigger i#menu-trigger-icon:hover {
  color: #4e5a7f;
}
@media (min-width: 55em) {
  /* line 74, assetic_compassP86gbQ.sass */
  div#top-bar span#menu-trigger {
    display: none;
  }
}
/* line 87, assetic_compassP86gbQ.sass */
div#top-bar div#logo-container {
  text-align: center;
}
@media (min-width: 55em) {
  /* line 87, assetic_compassP86gbQ.sass */
  div#top-bar div#logo-container {
    float: left;
  }
  /* line 91, assetic_compassP86gbQ.sass */
  div#top-bar div#logo-container:after {
    clear: both;
  }
}
/* line 93, assetic_compassP86gbQ.sass */
div#top-bar nav#navigation-menu {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  opacity: 0;
  height: 100%;
  background-color: #272d40;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
/* line 106, assetic_compassP86gbQ.sass */
div#top-bar nav#navigation-menu .nav li {
  padding: 0.5em;
  border-bottom: 1px solid #4e5a7f;
}
@media (min-width: 55em) {
  /* line 106, assetic_compassP86gbQ.sass */
  div#top-bar nav#navigation-menu .nav li {
    border-bottom: 0;
  }
}
/* line 111, assetic_compassP86gbQ.sass */
div#top-bar nav#navigation-menu .nav a {
  font-weight: bold;
  color: white;
}
@media (min-width: 55em) {
  /* line 111, assetic_compassP86gbQ.sass */
  div#top-bar nav#navigation-menu .nav a {
    color: #272d40;
  }
}
/* line 117, assetic_compassP86gbQ.sass */
div#top-bar nav#navigation-menu .nav li.active a {
  color: #4e5a7f;
}
@media (min-width: 55em) {
  /* line 105, assetic_compassP86gbQ.sass */
  div#top-bar nav#navigation-menu .nav {
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  /* line 49, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
  div#top-bar nav#navigation-menu .nav li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap;
  }
}
@media (min-width: 55em) {
  /* line 93, assetic_compassP86gbQ.sass */
  div#top-bar nav#navigation-menu {
    height: 54px;
    line-height: 54px;
    position: normal;
    margin: 0 0 0 290px;
    display: block;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
    background-color: transparent;
  }
}

/* line 134, assetic_compassP86gbQ.sass */
.body {
  clear: both;
}
