@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);
/* line 17, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../home/clamzdev/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, assetic_compassUv9qKo.sass */
form {
  background-color: #f3f3f3;
  border: 1px solid #e4e4e4;
  margin: auto;
  padding: 0.8em;
  width: 25em;
}
/* line 9, assetic_compassUv9qKo.sass */
form div.control-group {
  margin: 0.5em;
}
/* line 11, assetic_compassUv9qKo.sass */
form legend {
  color: #aaaaaa;
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 15, assetic_compassUv9qKo.sass */
form label {
  float: left;
  width: 150px;
  text-align: right;
  padding: 0.2em 0.5em 0 0;
}
/* line 20, assetic_compassUv9qKo.sass */
form input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-shadow: 0px;
  border: 1px solid #cccccc;
  -webkit-transition: border-color 0.3s, box-shadow;
  -moz-transition: border-color 0.3s, box-shadow;
  -o-transition: border-color 0.3s, box-shadow;
  transition: border-color 0.3s, box-shadow;
  padding: 0.3em;
  color: #666666;
}
/* line 27, assetic_compassUv9qKo.sass */
form input:focus {
  border-color: #0e6d72;
  -webkit-box-shadow: 0 0 2px #0e6d72 inset;
  -moz-box-shadow: 0 0 2px #0e6d72 inset;
  box-shadow: 0 0 2px #0e6d72 inset;
}
