- extends "::base.html.twig"

- block content
    %div#accueil-concerts-container
        %h1
            Concerts
            %a(href=path('chemin_du_son.concert.create')) +
        %ul#accueil-concerts
            - for concert in concerts
                %li.concert
                    %div
                        %a(href=path('chemin_du_son.concert.show', { 'slug' : concert.slug }))
                            = concert.name
                    %div
                        = concert.date|date('d/m/Y H:i')
    %div#accueil-groups-container
        %h1
            Groupes
            %a(href=path('chemin_du_son.group.create')) +
        %ul#accueil-groups

            - for group in groups
                %li.group-container
                    %a(href=path('chemin_du_son.group.show', { 'slug' : group.slug }))
                        %img(src=asset(group.image.webPath) height=100)
                    %div
                        %a(href=path('chemin_du_son.group.show', { 'slug' : group.slug }))
                            = group.name

