{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div id="user-profile-container">
		<i id="user-logo" class="icon-cds-user"></i>
		<div id="user-infos">
			<ul>
				<li><span class="inline-edit">{{ user.username }}</span></li>
				<li><span class="inline-edit">{{ user.email }}</span></li>
			</ul>			
		</div>
	</div>
{% endblock %}
